<template>
<div>
<header class="header">
  
    <img class="logo" src="/logo.svg">
    <nav class="menu">
    <a class="linkmenu" href="#comofunciona">
      COMO FUNCIONA
    </a>
    <a class="linkmenu" href="#seguranca">
      SEGURANÇA
    </a>
    <a class="linkmenu" href="#quemsomos">
      QUEM SOMOS
    </a>
    </nav>
    <a class="cadastro" href="#" >
      <p class="login">
        Login/Cadastro
      </p>
      <img src="login.png" >
    </a>
</header>
<nuxt />
</div>
</template>

<style>
body{
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
  margin:0;
  font-size: 14px;
}
a{
  text-decoration:none;   
}
.header{
  position:sticky;
  top:0;
  z-index: 3;
  background-color: #66afd5;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.logo{
  height: 2em;;
}
.login{
  display:flex;
  align-items: center;
  color:#fff;
  font: 14px sans-serif;
  font-weight: 100;
  margin: 5px;
}
.linkmenu{
  height: 100%;
  color:#fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 100%;
  padding: 17px 20px;
  position:relative;
}
.menu{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.linkmenu:hover{
  background-color: hsla(0,0%,100%,.1);
  cursor:pointer;
  border-bottom-color: #fff;
}
.cadastro{
  display: flex;
}
.linkmenu:before{
  content: "";
    background: #fff;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    margin-top: 2px;
    position: absolute;
    transform: scale(0);
    transition: transform .3s,-webkit-transform .3s;
    width: 100%;
}
.linkmenu:hover:before{
  transform: scale(1);
}
@media(max-width:998px){
  .header{
    padding:0 0px;
  }
}
@media(max-width: 768px)
{
  .linkmenu{
    display: none;
  }
  .menu{
    display:none
  }
  .header{
    justify-content: space-around;
  }

}

</style>
