<template>
<div>
  <section class="baner">
    <div class="banerimg">
      <img src="/banner.jpeg" width="100%" height="100%">
    </div>
    <video class="banervideo" autoplay="autoplay" loop="loop">
      <source src="/banervideo.mp4" type="video/mp4">
    </video>
    <div class="textobaner">
    <h1 class="texto"> Onde os amantes de cães se encontram!</h1>
    <div>
      <button class="butonbaner">Entenda como funciona</button>
      <button class="butonbaner">Seja um DogLover!</button>
    </div>
    <div class="redes">
      <a class="redessociais" href="https://www.facebook.com/DogLoversBrasil"><img src="face.svg" width="40px" height="40px"></a>
      <a class="redessociais" href="https://www.instagram.com/doglovers_brasil/"><img src="/insta.png" width="50px" height="50px"></a>
    </div>
    </div>
  </section>

  <section id="comofunciona" class="funciona">
    <h1 class="titulo">
      COMO FUNCIONA?
    </h1>
    <div>
      <h2 class="subtitulo">
        Somos uma comunidade para quem ama cães!
      </h2>
      <p class="espaco">
        Um espaço para donos e amantes de cães, que, assim como nós, colocam a qualidade de vida dos nossos melhores amigos em primeiro lugar.
      </p>
    </div>
    <div class="backvideo">
      <iframe src="https://www.youtube.com/embed/V3xeihneAYo" allowfullscreen="allowfullscreen" allow="encrypted-media" frameborder="0" gesture="media" height="315px" width="560px" 
      class="funcionavideo"></iframe>
    </div>
  </section>

  <section class="funciona funcionaparte2">
    <h1 class="titulo">
      PARA DOGLOVER
    </h1>
    <div class="paradoglover">
      <div class="imgteaser">
        <img src="teaser1.jpg" width="100%" height="auto">
      </div>
      <ul class="listadoglover">
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-search icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Encontre DogLovers disponíneis.</h3>
              <p class="encontretexto"> Escolha um dos nossos planos, crie seu perfil e verifique suas informações</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="far fa-id-card icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Conte-nos sobre você</h3>
              <p class="encontretexto"> Conte-nos sobre você e descreva o por quê você quer ter um cãozinho como companhia</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-users icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre">Navegue na nossa comunidade</h3>
              <p class="encontretexto"> Navegue na nossa comunidade e encontre vários peludos loucos para fazer um novo amigo.</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-envelope icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Troque mensagens</h3>
              <p class="encontretexto"> Troque mensagens e combine o encontro com seu novo amigo. Agora é só aproveitar sua cãopanhia!</p>
            </div>
          </div>
        </li>


      </ul>
    </div>
  </section>

  <section class="funciona funcionaparte2">
    <h1 class="titulo">
      PARA OWNERS
    </h1>
    <div class="paradoglover">
      <ul class="listadoglover">
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-pencil-alt icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Escolha um dos nossos planos</h3>
              <p class="encontretexto"> Escolha um dos nossos planos, crie seu perfil e conte-nos mais sobre seu Auau.</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-users icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Navegue na nossa comunidade</h3>
              <p class="encontretexto"> Navegue na nossa comunidade e encontre vários doglovers loucos para dar muito amor e carinho para o seu melhor amigo.</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-star icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre">Favorite seus preferidos</h3>
              <p class="encontretexto"> Favorite seus preferidos, troque mensagens e combine um encontro com o doglover escolhido para melhor conhecê-lo.</p>
            </div>
          </div>
        </li>
        <li class="lista">
          <div class="espacoicone">
            <div class="iconslista">
              <i class="fas fa-bed icones"></i></div>
            </div>
          <div>
            <div>
              <h3 class="encontre"> Relaxe!</h3>
              <p class="encontretexto"> Agora é só relaxar e ter certeza que seu cãozinho está em boas mãos! Quem sabe não é o cãomeço de uma grande amizade.</p>
            </div>
          </div>
        </li>
        </ul>
      
      <div class="imgteaser">
        <img src="teaser2.jpg" width="100%" height="auto">
      </div>
    </div>
  </section>
    

  <section class="funciona funcionaparte2" id="seguranca">
    <h1 class="titulo">
      SEGURANÇA
    </h1>
    <p class="textoseguranca"> 
      Seu melhor amigo merece o melhor tratamento do mundo, por isso oferecemos garantias essenciais, desde o cadastro até o encontro e envio de fotos diárias de seu cachorro.
    </p>
    <div class="pesquisaseguranca">
      <div class="pesquisa">
        <div class="segurancaicone">
          <i class="fas fa-search iconeseguranca"></i>
        </div>
        <h3 class="encontre">Verificação de endereço e telefone</h3>
        <p class="encontretexto">Todas as informações dos usuários passam por validações seguras</p>


      </div>
      <div class="pesquisa">
      <div class="segurancaicone">
          <i class="fas fa-search iconeseguranca"></i>
        </div>
        <h3 class="encontre">Fácil e seguro</h3>
        <p class="encontretexto">Fácil de usar, simples e avaliar, e assim seguro para os Dogs e DogLovers.</p>
      </div>

      <div class="pesquisa">
        <div class="segurancaicone">
          <i class="fas fa-search iconeseguranca"></i>
        </div>
        <h3 class="encontre">Encontro Pré Estadia</h3>
        <p class="encontretexto">Tenha encontros com o DogLover antes da estadia do seu Dog</p>

      </div>
    </div>
    </section>

    <section class="funciona funcionaparte2">
      <h1 class="titulo">
        DEPOIMENTOS 
    </h1>
    <div class="depoimentos">
      <div class="tamanhocaixa">
        <img class="imgdepoimento">
        <div class="caixadepoimento">
          <div class="depoimentocima">
          <p class="textodepoimento">Teste Depoimento</p></div>
          <div class="depoimentobaixo"> 
            <h3>
              Rodrigo
            </h3>
            <p class="subtitulodepoimento">Teste subtitulo</p>
          </div>
        </div>
      </div>
      <div class="tamanhocaixa">
        <img class="imgdepoimento">
        <div class="caixadepoimento">
          <div class="depoimentocima">
          <p class="textodepoimento">Teste Depoimento</p></div>
          <div class="depoimentobaixo"> 
            <h3>
              Rodrigo
            </h3>
            <p class="subtitulodepoimento">Teste subtitulo</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="funciona funcionaparte2">
    <h1 class="titulo">
      DOGLOVERS EM DESTAQUE
    </h1>
    <div class="destaque">
      <div class="caixadestaque">
        <div class="destaquecima">
          <img  class="fotodestaque" src="destaque1.jpg" width="90%" height="200px">
          <h1 class="nomedestaque">Rodrigo Pirajá</h1>
        </div>
        <div>
          <p class="textodepoimento">Rodrigo</p>
          <div class="destaquebaixo">
            <i class="fas fa-map-marker-alt"></i> 
            <p class="cidadedestaque">São Paulo-SP </p>
          </div>
        </div>
      </div>
      <div class="caixadestaque">
        <div class="destaquecima">
          <img  class="fotodestaque" src="destaque2.png"  width="90%" height="200px">
          <h1 class="nomedestaque">Pedro Lacerda</h1>
        </div>
        <div>
          <p class="textodepoimento">XXXXXXXXXXXX</p>
          <div class="destaquebaixo">
            <i class="fas fa-map-marker-alt"></i> 
            <p class="cidadedestaque">São Paulo-SP </p>
          </div>
        </div>
        </div>

        <div class="caixadestaque">
          <div class="destaquecima">
            <img  class="fotodestaque" src="destaque3.jpeg" width="90%" height="200px">
            <h1 class="nomedestaque">Gustavo Nogueira</h1>
           </div>
          <div>
            <p class="textodepoimento">Jknbkkn</p>
            <div class="destaquebaixo">
              <i class="fas fa-map-marker-alt"></i> 
              <p class="cidadedestaque">São Paulo-SP </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <footer>
    <section class="rodape">
      <div class="institucional">
        <h3 class="titulorodape">INSTITUCIONAL</h3>
        <ul>
          <li class="listainstitucional">> Quem somos</li>
          <li class="listainstitucional">> Como funciona</li>
          <li class="listainstitucional">> Politica de Privacidade</li>
          <li class="listainstitucional">> Politica de Cancelamento</li>
          <li class="listainstitucional">> Fale Conosto</li>
        </ul>
      </div>
      <div class="institucional">
        <h3 class="titulorodape">DOG E DOGLOVERS</h3>
        <div class="fotosdog">
          <a href="#"> <img class="imgrodape" src="imgrodape.png"></a>
          <a href="#"> <img class="imgrodape" src="imgrodape.png"></a>
          <a href="#"> <img class="imgrodape" src="imgrodape.png"></a>
          <a href="#"> <img class="imgrodape" src="imgrodape.png"></a>
        </div>
      </div>
      <div class="institucional assinantes">
        <h3 class="titulorodape">NEWSLETTER</h3>
        <p class="textorodape"> Receba newsletter e dicas de como cuidar do seu melhor amigo cãozinho</p>
        <div class="newsletter">
          <input class="email" type="text"> 
          <button class="assinar">Assinar</button>
        </div>
        <p class="letrapequena"> As novidades serão enviadas para o email cadastrado</p>
        </div>
      </section>
      <section class="desenvolvedor">
        <p class="textodesenvolver">Doglovers 2019 @eMiolo.com</p>
      </section>
    </footer>
 </div>

</template>
<style>

ul{
  list-style: none;
}
  .baner{
    position: relative;
  }
  .banervideo{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index:0;
    filter: brightness(60%);
}
.textobaner{
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20%;
  display:flex;
  flex-direction: column;
}
.texto{
  font-size: 32px;
  color:#fff;
  font-weight: 300;
  margin-bottom: 1%;
  text-align: center;
}
.butonbaner{
  background-color: #66afd5;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  padding: 8px 30px;
  outline: none;
  font-size: 16px;
  margin: 1%;
  height: 3.3em;
}
.redes{
  display:flex;
  justify-content: center;
  align-items: center;
}
.redessociais{
  margin: 0 1.5%;
}
.funciona{
  margin-top: 10%;
  text-align: center;
}
.titulo{
  color:#66afd5;
  font-size: 2.3em;
  font-weight:300;
  margin-bottom: 2%;
}
.subtitulo{
  color:#069;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 2%;
}
.espaco{
  font-weight: 300;
  color:#777;
  font: 19px sans-serif;
  margin-bottom: 5%;
}
.backvideo{
  background-color: #66afd5;
  height: 315px;
}
.funcionavideo{
  height: 315px;
  width: 560px;
}
.funcionaparte2{
  margin: 5% auto;
  max-width: 1100px;
}
.paradoglover{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
}
.imgteaser{
  width: 100%;
}
.lista{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 2%;
}
.espacoicone{
  margin-right: 4%;
}
.iconslista{
  display:flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #66afd5;
  margin-right: 4%;
  border-radius:50%;
  background-color:#fff; 
  width: 60px;
  height: 60px;
  box-sizing:border-box;
  }
  .iconslista:hover{
    background-color: #66afd5;
  }
  .iconslista:hover .icones{
    color: #fff;
}
.icones{
  color:#66afd5;
  font-size: 2em;
}
.encontre{
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 1%;
}
.encontretexto{
  font-size: 19px;
  font-weight: 300;
}
.textoseguranca{
  color:#8c8c8c;
  font-size:1.2em;
  font-weight: 700;
}
.pesquisaseguranca{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.pesquisa{
  display:flex;
  align-items: center;
  flex-direction: column;
  max-width: 30%;
  margin: 0 5%;

}
.segurancaicone{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #66afd5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.iconeseguranca{
  color:#fff;
  font-size: 3em;
}
.depoimentos{
  display:flex;
  justify-content: center;
}
.imgdepoimento{
  border-radius:100%;
}
.caixadepoimento{
  border: 2px solid #66afd5;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
}
.depoimentocima{
  padding: 2% 40%;
}
.textodepoimento{
  font-size: 1.3em;
  font-weight: 300;
  color:#777;
}
.depoimentobaixo{
  background-color: #66afd5;
}
.subtitulodepoimento{
  font-weight: 300;
  color:#fff;
}
.tamanhocaixa{
  width: 35%;
  margin-left: 5%;
}
.destaque{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2%;
}
.caixadestaque{
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 300px;
}
.nomedestaque{
  color:#66afd5;
}
.destaquecima{
  border-bottom: 1px solid #ddd;
}
.destaquebaixo{
  display: flex;
  justify-content: center;
}
.cidadedestaque{
  margin-left: 2%;
}
footer{
  background-color: #454445;
}
.rodape{
  background-color: #454445;
  border-top: 4px solid #2e2e2e;
  display:flex;
  justify-content: space-around;
  padding-bottom: 1%;
}
.institucional{
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5%;
  max-width: 25%;
}
.titulorodape{
  color: #fff;
  margin-bottom: 4%;
}
.listainstitucional{
  color: #8a8a8a;
  padding: 4% 0;
  border-bottom: 0.03px solid #969696;
  font-size:16px;
}
.fotosdog{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%;
}
.imgrodape{
  border: 3px solid #8c8c8c;
  margin: 2% 2%;

}
.textorodape{
  color: #8a8a8a;
  font-size:16px;
}
.email{
  background: #1b1b1b;
  border:none;
  height: 2.8em;
  border-radius: 5px;
  min-width: 60%;
  color: #555;
  padding: 5px 0;
}
.assinar{
  color: #fff;
  background-color: #66afd5;
  border-radius: 5px;
  padding: 15px 20px;
  border:none;
  font-weight: 500;
  font: 1em sans-serif;
}
.newsletter{
  width: 100%;
}
.letrapequena{
  font-size: 0.7em;
  color:#999;
}
.desenvolvedor{
  background-color: #2e2e2e;
  text-align: center;
}
.textodesenvolver{
  color: #717171;
  font-size:1.2em;
}
.banerimg{
  display:none;
}
@media(max-width:1126px){
  .paradoglover{
    display:flex;
    justify-content: center;
  }
  .imgteaser{
    width: 40%;
    margin: 10% 0;
  }
  .listadoglover{
    width: 50%;
  }
}
@media(max-width: 1012px){
  .institucional{
    max-width: 40%;
  }
  .fotosdog{
    display:flex;
    flex-direction: column;
  }
}
@media(max-width:956px){
  .institucional{
    max-width: 50%;
  }
  .rodape{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%;
  }
  .fotosdog{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .assinantes{
    max-width: 80%;
  }
}
@media(max-width:770px){
  .banerimg{
    display:block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index:0;
    filter: brightness(60%);
  }
  .baner{
    background-position: 50%;
  }
  .banervideo{
    display:none;
  }
  .pesquisaseguranca{
    flex-wrap: wrap;
  }
}
@media(max-width:700px){
  .paradoglover{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .imgteaser{
    width: 80%;
  }
  .listadoglover{
    width: 100%;
  }
  .depoimentos{
    flex-direction: column;
    align-items: center;
  }
  .tamanhocaixa{
    width: 60%;
  }
  .pesquisaseguranca{
    flex-direction: column;
    align-items: center;
  }
  .pesquisa{
    max-width: 60%;
  }
}
@media(max-width: 626px){

  .rodape{
    flex-direction: column;
    align-items: center;
  }
  .institucional{
    margin: 5% 0;
  }
  .fotosdog{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
  }
  .destaque{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .caixadestaque{
    max-width: 50%;
    margin: 3% 0;
  }
  .funcionavideo{
    max-width: 100%;
  }
}
@media(max-width:490px){
  .rodape{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .segurancaicone{
  width: 80px;
  height: 80px;
}
}
@media(max-width:315px){
  .fotosdog{
    display:flex;
    flex-direction: column;
  }
}

</style>